.footer {
  &__nav {
    display: flex;
    justify-content: space-around;
    padding: 3% 7%;
    color: $base__tertiary;
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin: auto 15px;
  }

  &__link {
    font-family: $base__font-family--secondary;
    font-size: $base__font-size;
    color: $base__tertiary;
  }
}

.author {
  line-height: 37px;
}

@media all and (min-width: 320px) and (max-width: 1000px) {
  .footer {
    &__list {
      display: none;
    }
  }
}
