// TYPOGRAPHY

$base__font-family: "Playfair Display", serif;
$base__font-family--secondary: "Raleway", sans-serif;

$base__font-size: 1em; //18px;
$base__font-weight: 400;
$base__font-weight--bold: 700;

$heading__font-size--small: 1.333em; //24px
$heading__font-size--medium: 1.667em; //30px
$heading__font-size--large: 2em; //36px
$heading__font-size--xlarge: 4em; //72px
